// Base

// Variables
$handwriting: 'Sue Ellen Francisco', cursive
$handwriting_alt: 'Schoolbell', cursive
$grey: #333
$blue: #77b8e8


::-moz-selection
	background: $blue
	color: #111
	text-shadow: none

::selection
	background: $blue
	color: #111
	text-shadow: none


body
	background: url("../images/linedpaper.png")

h1
	font-family: $handwriting_alt
	font-size: 5em
