// Base

// Variables
$handwriting: 'Sue Ellen Francisco', cursive
$handwriting_alt: 'Schoolbell', cursive
$handwriting_alt2: 'Molle', cursive
$grey: #333
$blue: #77b8e8

$default-font-size: 16px


::-moz-selection
	background: $blue
	color: #111
	text-shadow: none

::selection
	background: $blue
	color: #111
	text-shadow: none


body
	min-height: 1200px
	margin: 0
	background: url("../images/linedpaper.png")

h1
	font-family: $handwriting_alt

.wrap
	max-width: 1200px
	margin: 0 auto

.mainheader

	.image-box
		height: emCalc(500px)
		text-align: center
		overflow: hidden
		margin-top: -140px
	
	h1
		position: relative
		margin: 0
		font-size: emCalc(100px)
		text-align: center
		z-index: 20